@import "./reset.scss";
@import "./grid.scss";
// Variable
$border__radius: 2rem;
$mainColor: orange;
$navATag: #d2d2d2;
$beforeLine: #e76f51;
$whiteColor: #ffff;
$exploreImgTitleColor: #3b3735;
$backgroundBody: #faf4f2;
$btnLocationColor: #8d8d8d;
$locationPrice: #e76f51;
$backgroundColorContactUs: #f8e1db;
// mixin
@mixin center-item($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin borderBtn() {
  border: 1px solid $whiteColor;
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  -webkit-border-radius: 2.75rem;
  -moz-border-radius: 2.75rem;
  -ms-border-radius: 2.75rem;
  -o-border-radius: 2.75rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: $backgroundBody;
}

/***** Header *****/

.header {
  background: linear-gradient(rgba(59, 53, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  .nav {
    @include center-item(space-between, center);
    padding: 1rem 0;
    .nav__logo {
      .nav__logo--img {
        width: 5rem;
        height: 5rem;
      }
    }
    .nav-menu {
      @include center-item(center, center);
      position: fixed;
      height: 100vh;
      background-color: $beforeLine;
      z-index: 1;
      top: 0;
      left: 50rem;
      right: 0;
      flex-direction: column;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      .mobile-menu {
        .mobile-menu__item {
          .mobile-menu__link {
            padding: 1rem 0;
            display: block;
            font-size: 3rem;
            text-align: center;
            color: $navATag;
          }
        }
      }
      .close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        .close__btn {
          font-size: 5rem;
          color: $navATag;
        }
      }
    }
    .nav-menu.nav-menu--active {
      left: 0;
    }
    .menu {
      display: none;
    }
    .header__links {
      display: none;
    }
    .nav__btn {
      @include center-item(center, center);
      background-color: $whiteColor;
      width: 5rem;
      height: 5rem;
      border-radius: 1.4rem;
      -webkit-border-radius: 1.4rem;
      -moz-border-radius: 1.4rem;
      -ms-border-radius: 1.4rem;
      -o-border-radius: 1.4rem;
      cursor: pointer;
      .nav__btn-line {
        position: relative;
        width: 2.7rem;
        height: 0.4rem;
        background-color: $beforeLine;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        &::before {
          content: "";
          position: absolute;
          width: 2.7rem;
          height: 0.4rem;
          background-color: $beforeLine;
          border-radius: 10rem;
          -webkit-border-radius: 10rem;
          -moz-border-radius: 10rem;
          -ms-border-radius: 10rem;
          -o-border-radius: 10rem;
          top: 1rem;
        }
        &::after {
          content: "";
          position: absolute;
          width: 2.7rem;
          height: 0.4rem;
          background-color: $beforeLine;
          border-radius: 10rem;
          -webkit-border-radius: 10rem;
          -moz-border-radius: 10rem;
          -ms-border-radius: 10rem;
          -o-border-radius: 10rem;
          bottom: 1rem;
        }
      }
    }
  }
}
