@import "./reset.scss";
@import "./grid.scss";
@import "./mixins.scss";
@import "./variables.scss";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem; /* == font-size: 1.6rem; */
  background-color: $backgroundBody;
  overflow-x: hidden;
}

/***** Header *****/

.header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(59, 53, 53, 0.5)),
      to(rgba(59, 55, 53, 0.5))
    ),
    url("../images/header-bg.jpg");
  background: -o-linear-gradient(rgba(59, 53, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background: linear-gradient(rgba(59, 53, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 85vh;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  /***** Nav *****/
  .nav {
    .nav__wrapper {
      @include center-item(space-between, center);
      .menu {
        .menu__item {
          margin-right: 1.5rem;
          .menu__link {
            color: $navATag;
            position: relative;
            transition: color ease-in 100ms;
            -webkit-transition: color ease-in 100ms;
            -moz-transition: color ease-in 100ms;
            -ms-transition: color ease-in 100ms;
            -o-transition: color ease-in 100ms;
            z-index: 1;
            &:hover {
              color: $whiteColor;
            }
            &--active {
              @include center-item(center, center);
              color: $whiteColor;
              &::before {
                content: "";
                width: 4rem;
                height: 0.4rem;
                background-color: $beforeLine;
                position: absolute;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                z-index: -1;
              }
            }
          }
        }
      }
    }
    @include center-item(space-between, center);
    padding: 2.5rem 0;
    .nav__logo {
      width: 5.5rem;
      height: 5.5rem;
      display: block;
      margin-right: 4rem;
      .nav__logo--img {
        width: 100%;
        height: 100%;
      }
    }
    .nav-menu {
      width: 25rem;
      background-color: $exploreImgTitleColor;
      position: fixed;
      z-index: 999;
      top: 0;
      left: -25rem;
      bottom: 0;
      padding: 2.5rem;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      right: 1rem;
      .nav-menu__title {
        font-family: $secondary-font;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: $whiteColor;
        border-bottom: 5px solid $beforeLine;
        padding-bottom: 1rem;
      }
      .mobile-menu {
        margin-bottom: 3rem;
        position: relative;
        .mobile-menu__item {
          .mobile-menu__link {
            position: relative;
            color: $whiteColor;
            padding: 1rem 0;
            font-size: 2.5rem;
            transition: all ease-in-out 250ms;
            -webkit-transition: all ease-in-out 250ms;
            -moz-transition: all ease-in-out 250ms;
            -ms-transition: all ease-in-out 250ms;
            -o-transition: all ease-in-out 250ms;
            &--active {
              padding-left: 2.2rem;
              &::before {
                transition: all ease-in-out 250ms;
                -webkit-transition: all ease-in-out 250ms;
                -moz-transition: all ease-in-out 250ms;
                -ms-transition: all ease-in-out 250ms;
                -o-transition: all ease-in-out 250ms;
                content: "";
                position: absolute;
                width: 1.8rem !important;
                height: 0.3rem;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $beforeLine;
                margin: auto;
                border-radius: 5rem;
                -webkit-border-radius: 5rem;
                -moz-border-radius: 5rem;
                -ms-border-radius: 5rem;
                -o-border-radius: 5rem;
              }
            }
            &::before {
              transition: all ease-in-out 250ms;
              -webkit-transition: all ease-in-out 250ms;
              -moz-transition: all ease-in-out 250ms;
              -ms-transition: all ease-in-out 250ms;
              -o-transition: all ease-in-out 250ms;
              content: "";
              position: absolute;
              width: 0;
              height: 0.3rem;
              top: 0;
              bottom: 0;
              left: 0;
              background-color: $beforeLine;
              margin: auto;
              border-radius: 5rem;
              -webkit-border-radius: 5rem;
              -moz-border-radius: 5rem;
              -ms-border-radius: 5rem;
              -o-border-radius: 5rem;
            }
            &:hover {
              padding-left: 2.2rem;
              &::before {
                width: 1.8rem;
              }
            }
          }
        }
      }
      .nav-menu__links {
        .nav-menu__link {
          color: $whiteColor;
          border: 1px solid $whiteColor;
          padding: 1rem;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          margin: 0 0.2rem;
          text-align: center;
          transition: all ease-in 100ms;
          -webkit-transition: all ease-in 100ms;
          -moz-transition: all ease-in 100ms;
          -ms-transition: all ease-in 100ms;
          -o-transition: all ease-in 100ms;
          &:hover {
            background-color: $whiteColor;
            color: $exploreImgTitleColor;
          }
        }
      }
    }
    .nav-menu--active .nav__btn-line {
      background-color: transparent !important;
      &::before {
        transform: translateY(1rem) rotate(45deg);
        -webkit-transform: translateY(1rem) rotate(45deg);
        -moz-transform: translateY(1rem) rotate(45deg);
        -ms-transform: translateY(1rem) rotate(45deg);
        -o-transform: translateY(1rem) rotate(45deg);
      }
      &::after {
        transform: translateY(-1rem) rotate(-45deg);
        -webkit-transform: translateY(-1rem) rotate(-45deg);
        -moz-transform: translateY(-1rem) rotate(-45deg);
        -ms-transform: translateY(-1rem) rotate(-45deg);
        -o-transform: translateY(-1rem) rotate(-45deg);
      }
    }
    .menu {
      display: none;
    }
    .header__links {
      font-family: $primary-font-md;
      display: none;
      .header__link {
        margin-left: 1.5rem;
        color: $whiteColor;
      }
      .header__link--border {
        @include btn(
          $backGroundColor: false,
          $border: true,
          $borderRadius: 2rem,
          $paddingY: 1rem,
          $paddingX: 2.5rem,
          $border-color: #fff
        );
        transition: all ease-in 150ms;
        -webkit-transition: all ease-in 150ms;
        -moz-transition: all ease-in 150ms;
        -ms-transition: all ease-in 150ms;
        -o-transition: all ease-in 150ms;
        &:hover {
          background-color: $whiteColor;
          color: $exploreImgTitleColor;
        }
      }
    }
    .nav__btn {
      @include center-item(center, center);
      background-color: $whiteColor;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      cursor: pointer;
      .nav__btn-line {
        position: relative;
        width: 3rem;
        height: 0.3rem;
        background-color: $beforeLine;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
        transition: all ease-in-out 150ms;
        -webkit-transition: all ease-in-out 150ms;
        -moz-transition: all ease-in-out 150ms;
        -ms-transition: all ease-in-out 150ms;
        -o-transition: all ease-in-out 150ms;
        &::before {
          content: "";
          position: absolute;
          width: 3rem;
          height: 0.3rem;
          background-color: $beforeLine;
          border-radius: 5rem;
          -webkit-border-radius: 5rem;
          -moz-border-radius: 5rem;
          -ms-border-radius: 5rem;
          -o-border-radius: 5rem;
          top: -1rem;
          transition: all ease-in-out 200ms;
          -webkit-transition: all ease-in-out 200ms;
          -moz-transition: all ease-in-out 200ms;
          -ms-transition: all ease-in-out 200ms;
          -o-transition: all ease-in-out 200ms;
        }
        &::after {
          content: "";
          position: absolute;
          width: 3rem;
          height: 0.3rem;
          background-color: $beforeLine;
          border-radius: 5rem;
          -webkit-border-radius: 5rem;
          -moz-border-radius: 5rem;
          -ms-border-radius: 5rem;
          -o-border-radius: 5rem;
          top: 1rem;
          transition: all ease-in-out 200ms;
          -webkit-transition: all ease-in-out 200ms;
          -moz-transition: all ease-in-out 200ms;
          -ms-transition: all ease-in-out 200ms;
          -o-transition: all ease-in-out 200ms;
        }
      }
    }
  }
  /***** End Nav *****/
  /***** Content Header *****/
  .content__header {
    @include center-item(center, center);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $whiteColor;
    margin-top: 5.5rem;
    text-align: center;
    .content__header-title {
      font-family: $secondary-font;
      font-size: 5rem;
      line-height: 1.2;
      margin-bottom: 3rem;
      max-width: 35rem;
    }
    .content__header-description {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      max-width: 34rem;
    }
    .content__header-btn {
      @include btn(
        $backGroundColor: $beforeLine,
        $paddingY: 0.75rem,
        $paddingX: 5rem,
        $border-color: none
      );
    }
  }
  /***** End Content Header *****/
}

/***** Main *****/

.main {
  padding: 4rem 0;
  /***** Facilities *****/
  .facilities {
    margin-top: -19rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &__card {
      @include center-item(center, center);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: $whiteColor;
      border-radius: 1.75rem;
      -webkit-border-radius: 1.75rem;
      -moz-border-radius: 1.75rem;
      -ms-border-radius: 1.75rem;
      -o-border-radius: 1.75rem;
      margin-bottom: 2rem;
      width: 32rem;
      height: 26rem;
      padding: 0 2rem;
      text-align: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-right: 1rem;
      margin-left: 1rem;
      &--img {
        display: block;
        width: 100;
      }
      &--description {
        text-align: center;
      }
      &--title {
        font-family: $secondary-font;
        color: $exploreImgTitleColor;
        margin: 1.5rem 0 0.6rem 0;
        font-size: 1.8rem;
      }
      &--description {
        color: $exploreImgTitleColor;
      }
    }
  }
  /***** End Facilities *****/
  /***** Destinations *****/
  .destinations {
    @include center-item(center, center);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4rem 0;
    position: relative !important;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 60rem;
      height: 60rem;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      z-index: -1 !important;
    }

    &::after {
      background: url("../svgs/shape1.svg");
      right: -45rem;
      top: -10rem;
    }
    &::before {
      background: url("../svgs/shape2.svg");
      left: -45rem;
      bottom: 40rem;
    }

    &__img {
      margin-bottom: 2rem;
    }
    &__title {
      color: $exploreImgTitleColor;
      font-family: $secondary-font;
      text-align: center;
      font-size: 3rem;
      max-width: 36rem;
      margin: 3rem 0;
    }
    &__places {
      @include center-item(center, center);
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
      margin-left: -1rem;
      margin-right: -1rem;
      .place {
        background-color: $whiteColor;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        padding: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 30rem;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        &__banner {
          position: relative;
          height: 18rem;
          .place__img {
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
          .place__like {
            @include center-item(center, center);
            background-color: $whiteColor;
            top: 1.5rem;
            right: 1.5rem;
            position: absolute;
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            font-size: 1.8rem;
            &--icon {
              fill: $beforeLine;
            }
          }
          .place__price {
            background-color: $whiteColor;
            position: absolute;
            bottom: 0;
            bottom: -0.8rem;
            padding: 0.5rem 2rem;
            width: 12rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            &-text {
              color: $beforeLine;
              font-family: $primary-font-md;
              text-align: center;
            }
          }
        }
        &__link {
          margin-top: 2rem;
          @include btn(
            $backGroundColor: #8d8d8d1a,
            $color: $btnLocationColor,
            $border-color: none,
            $paddingY: 1rem,
            $paddingX: 3rem
          );
        }
        &__title {
          font-family: $secondary-font;
          color: $exploreImgTitleColor;
          margin-top: 3rem;
          margin-bottom: 0.5rem;
          overflow: hidden !important;
          -o-text-overflow: ellipsis !important;
          text-overflow: ellipsis !important;
          white-space: nowrap !important;
        }
        &__caption {
          color: $exploreImgTitleColor;
          margin-bottom: 3rem;
        }
      }
    }
    &__btn {
      @include btn(
        $backGroundColor: transparent,
        $color: $locationPrice,
        $border-color: $locationPrice,
        $paddingY: 0.75rem,
        $paddingX: 5rem,
        $border: true
      );
      margin-top: 3rem;
      transition: all ease-in 150ms;
      -webkit-transition: all ease-in 150ms;
      -moz-transition: all ease-in 150ms;
      -ms-transition: all ease-in 150ms;
      -o-transition: all ease-in 150ms;
      &:hover {
        background-color: $locationPrice;
        color: $backgroundBody;
      }
    }
  }
  /***** End Destinations *****/
  /***** Contact *****/
  .contact {
    @include center-item(space-between, center);
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-color: $backgroundColorContactUs;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    margin: 6rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 2rem;
    text-align: center;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 15rem;
      bottom: 0;
      left: -15rem;
      right: 0;
      background: url("../svgs/shape3.svg") no-repeat;
      width: 50rem;
      height: 50rem;
      background-size: contain;
    }
    .contact__left-side {
      padding: 3rem;
      z-index: 1;
      .contact__left-side__title {
        font-family: $secondary-font;
        color: $exploreImgTitleColor;
        font-size: 3rem;
        margin: 1.5rem auto;
      }
      p {
        color: $exploreImgTitleColor;
        font-family: $primary-font-md;
      }
      .contact__left-side--input-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: $whiteColor;
        height: 6rem;
        margin-top: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        padding: 0 1.5rem;
        .content__left-side--form {
          height: 100%;
          width: 100%;
          @include center-item(center, center);
          .contact__left-side--input-icon {
            -ms-flex-negative: 0;
            flex-shrink: 0;
          }
          .contact__left-side--input {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            color: $btnLocationColor;
            padding: 0 1rem;
            font-size: 1.6rem;
          }
          .contact__left-side--input-send-icon {
            background-color: $beforeLine;
            width: 5rem;
            height: 5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            cursor: pointer;
            outline: none;
            border: none;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-shadow: 0 0 1.5rem rgba(231, 111, 81, 0.4);
            box-shadow: 0 0 1.5rem rgba(231, 111, 81, 0.4);
          }
        }
      }
    }
    .contact__right-side {
      z-index: 1;
      img {
        width: 100%;
      }
    }
  }
  /***** End Contact *****/
}

/***** End Main *****/

/***** Footer *****/

.footer {
  background-color: $backgroundColorContactUs;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding-bottom: 4rem;
  & > .container {
    padding-top: 10rem;
  }
  .leftSide__title {
    color: $exploreImgTitleColor !important;
    font-family: $secondary-font !important;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .footer__scroll {
    @include center-item(center, center);
    position: absolute;
    right: 0;
    top: -2.5rem;
    background-color: $whiteColor;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    margin: 0 auto;
    left: 0;
    -webkit-box-shadow: 0 0 1rem
      rgba($color: $exploreImgTitleColor, $alpha: 0.05);
    box-shadow: 0 0 1rem rgba($color: $exploreImgTitleColor, $alpha: 0.05);
  }
  .footer__wrapper {
    .footer__left {
      max-width: 60rem;
      .leftSide__footer {
        margin-bottom: 2rem;
        .leftSide__caption {
          color: $exploreImgTitleColor;
          margin-bottom: 3rem;
        }
      }
      .leftSide__app--img {
        display: none;
        .leftSide__app__title {
          color: $exploreImgTitleColor;
          font-family: $secondary-font;
          margin-bottom: 1rem;
        }

        &--img {
          img {
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }
    }
    .footer__right {
      .rightSide__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .rightSide__footer-aboutUs {
          width: 16rem;
          margin-left: 1rem;
          margin-bottom: 1rem;

          h3 {
            color: $exploreImgTitleColor;
            font-family: $secondary-font;
            margin-bottom: 1rem;
            font-size: 1.8rem;
          }
          ul {
            li {
              a {
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: $exploreImgTitleColor;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .leftSide__app--mobile {
          display: block;

          .leftSide__app__title {
            color: $exploreImgTitleColor;
            font-family: $secondary-font;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .footer__copyright {
    text-align: center;
    color: $exploreImgTitleColor;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}

/***** End Footer *****/
