// Variable
$mainColor: orange;
$navATag: #d2d2d2;
$beforeLine: #e76f51;
$whiteColor: #ffff;
$exploreImgTitleColor: #3b3735;
$backgroundBody: #faf4f2;
$btnLocationColor: #8d8d8d;
$locationPrice: #e76f51;
$backgroundColorContactUs: #f8e1db;
$border__radius: 2rem;
$primary-font: "Roboto",
sans-serif,
Helvetica;
$primary-font-md: "Roboto-Medium",
sans-serif,
Helvetica;
$secondary-font: "Archivo-Black",
sans-serif,
Helvetica;
$secondary-font-md: "Archivo-Light",
sans-serif,
Helvetica;
