@media only screen and (min-height: 1024px) and (max-height: 1112px) {
  .header {
    min-height: 70vh !important;
  }
}
/* Max Width */
@media only screen and (max-width: 576px) {
  .facilities {
    margin-top: -16.5rem !important;
  }
}
@media only screen and (max-width: 392px) {
  .content__header {
    margin-top: 3.5rem !important;
  }
  .content__header .content__header-title {
    font-size: 4rem !important;
  }
  .facilities {
    margin-top: -15rem !important;
  }
  .main .destinations__title {
    font-size: 2.5rem !important;
  }
  .main .destinations__img {
    width: 8rem;
    height: 8rem;
  }
  .contact__left-side__title {
    max-width: 16rem;
  }
  .footer {
    text-align: center;
  }
  .footer .rightSide__footer-aboutUs {
    margin-left: 0 !important;
  }
  .footer .footer__right {
    justify-content: center !important;
  }
  .footer .rightSide__footer-aboutUs {
    width: 100% !important;
  }
  .footer .leftSide__app--mobile {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 324px) {
  .content__header {
    margin-top: 2.5rem !important;
  }
  .content__header .content__header-title {
    font-size: 3.5rem !important;
  }
  .facilities {
    margin-top: -10.5rem !important;
  }
}
@media only screen and (max-width: 336px) {
  .place {
    width: 24rem !important;
  }
}
@media only screen and (max-width: 300px) {
  .facilities {
    margin-top: -15.5rem !important;
  }
  .destinations__img {
    margin-bottom: 0 !important;
  }
  .place {
    width: 20rem !important;
  }
}
@media only screen and (max-width: 236px) {
  .place {
    width: 19rem !important;
  }
}
/* Min Width */
@media only screen and (min-width: 576px) {
  .facilities {
    margin-top: -14rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .content__header .content__header-description {
    max-width: 50rem !important;
  }
  .facilities {
    margin-top: -14rem !important;
  }
  .contact {
    flex-direction: row !important;
    text-align: left !important;
  }
  .contact::before {
    width: auto !important;
    height: auto !important;
    top: -5rem !important;
    left: -40rem !important;
    background-size: auto !important;
    background-position: center left !important;
  }
  .contact__left-side {
    flex-basis: 60% !important;
    padding-right: 2rem;
  }
  .contact__right-side {
    flex-basis: 40% !important;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .nav .nav-menu {
    display: none !important;
  }
  .header .nav .nav__btn {
    display: none !important;
  }
  .header .nav .header__links {
    display: block;
  }
  .facilities {
    margin-top: -14rem !important;
  }
  .contact__left-side {
    padding-right: 4rem;
  }
  .contact__left-side__title {
    margin-bottom: 0 !important;
  }
  .leftSide__app--img {
    display: block !important;
  }
  .leftSide__app--mobile {
    display: none !important;
  }
  .footer__wrapper {
    display: flex;
  }
  .footer__left {
    max-width: 50rem !important;
  }
  .footer__scroll {
    left: auto !important;
  }
  .contact::before {
    top: -10rem !important;
    left: -30rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    min-height: 80vh;
  }
  .contact__left-side {
    flex-basis: auto !important;
    width: 60rem;
  }
  .contact__right-side {
    width: 42rem;
    flex-basis: auto !important;
  }
  .footer__wrapper {
    justify-content: space-between;
  }
  .rightSide__footer-aboutUs {
    margin-bottom: 0 !important;
    margin-left: 2rem !important;
  }
  .contact::before {
    top: -15rem !important;
    left: -15rem !important;
  }
}
@media only screen and (min-width: 1400px) {
  .facilities {
    margin-top: -14rem !important;
  }
  .contact {
    padding: 3rem 6rem;
  }
}/*# sourceMappingURL=responsive.css.map */