html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Archivo-Light";
  src: url("../fonts/Archivo/Archivo-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Archivo-Black";
  src: url("../fonts/Archivo/Archivo-Black.ttf") format("truetype");
  font-weight: 800;
}
*,
body {
  font-family: "Roboto";
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: #faf4f2;
}

/***** Header *****/
.header {
  background: linear-gradient(rgba(59, 53, 53, 0.5), rgba(59, 55, 53, 0.5)), url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header .nav .nav__logo .nav__logo--img {
  width: 5rem;
  height: 5rem;
}
.header .nav .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: #e76f51;
  z-index: 1;
  top: 0;
  left: 50rem;
  right: 0;
  flex-direction: column;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.header .nav .nav-menu .mobile-menu .mobile-menu__item .mobile-menu__link {
  padding: 1rem 0;
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #d2d2d2;
}
.header .nav .nav-menu .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.header .nav .nav-menu .close .close__btn {
  font-size: 5rem;
  color: #d2d2d2;
}
.header .nav .nav-menu.nav-menu--active {
  left: 0;
}
.header .nav .menu {
  display: none;
}
.header .nav .header__links {
  display: none;
}
.header .nav .nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  cursor: pointer;
}
.header .nav .nav__btn .nav__btn-line {
  position: relative;
  width: 2.7rem;
  height: 0.4rem;
  background-color: #e76f51;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
.header .nav .nav__btn .nav__btn-line::before {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 0.4rem;
  background-color: #e76f51;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  top: 1rem;
}
.header .nav .nav__btn .nav__btn-line::after {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 0.4rem;
  background-color: #e76f51;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  bottom: 1rem;
}/*# sourceMappingURL=style.css.map */